@import "./_break-points.scss";

/*header要素*/
header{
  background-color: black;
  color: #F2EFEC;
  position: sticky;
  top: 0;
  height: 50px;
  width: 100%;
  z-index: 100;
  
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigationbar{
  display: flex;
  &__menus{
    align-items: center;
    display: flex;
    gap: 10px;
  }
  &__users{
    align-items: center;
    display: flex;
    gap: 10px;
  }
}

.app-name{
  color: #F2EFEC;
  text-decoration: none;
  font-size: 170%;
}
