@import "common/_break-points.scss";

//header要素
header{
  background-color: black;
  color: #F2EFEC;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 3px 5px;
  margin: 0;
  z-index: 100;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  &__size{
    font-size: 1.5rem;
  }
  &__title{
    margin-top: -5px;
    font-size: 0.7rem;
  }
}

.navigationbar{
  display: flex;

  &__menus{
    align-items: center;
    display: flex;
    gap: 15px;
    .app-name{
      font-size: 170%;
      @include xs-device-or-less {
        font-size: 120%;
      }
    }
    .content{
      @include xs-device-or-less {
        font-size: 90%;
      }
    }
  }
  &__users{
    align-items: center;
    display: flex;
    gap: 10px;
  }
}

//headerドロップダウンメニュー
.dropdown-menu{
  padding: 5px auto;
  margin: 0 auto;
  min-width: 120px;
}
.dropdown-divider{
  border-color: black;
  width: 80%;
  margin: 0 auto;
}
.dropdown-item:active{
  background-color: gray;
}
