@import "./_break-points.scss";

.department-selectbox-section{
  width: 50%;
  margin: 0 auto;
  padding: 10px 0;


}
.department-selectbox-container{
  display: flex;
  gap: 10px;
  white-space: nowrap;
}
