@import "./_break-points.scss";

body.departments{
    background-color: #333631; // 241a08 //F2EFEC //333631
}

.department-selectbox-section{
  width: 50%;
  margin: 0 auto;
  padding: 10px 0;
}
.department-selectbox-container{
  max-width: 380px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  white-space: nowrap;
}

.artworks-section{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .artworks-image{
    width: 400px;
    //額縁のCSS
    border: 15px solid;
    border-image: linear-gradient(to right bottom,#a58f86,#281a14) 1 / 15px;
    box-shadow: 8px 8px 12px black;
    transition: filter 0.5s ease;
    @include xs-device-or-less {
      width: 320px;
    }
  }
  .artworks-image:hover{
    filter: brightness(1.15);
  }

  .artworks-description-space{
    width: 300px;
    margin: 20px auto 150px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #ECDED4;
    color: black;
    box-shadow: 8px 8px 12px black;

    @include xs-device-or-less {
      width: 240px;
    }
    &__title{
      display: inline-block;
      text-align: center;
      margin-bottom: 10px;
    }
    &__description{
      width: 90%;
      padding-bottom: 10px;
      margin: 0 auto;
      border-bottom: 1px solid black;
      display: flex;
    }
      &__sentence{
        width: 88%;
      }
      &__met{
        position: relative;
        text-align: right;
      }
      &__met .bi{
        position: absolute;
        bottom: -5px;
      }

    &__submit{
      text-align: center;
      margin-top: 5px;
    }
  }
}
.artworks-section h1{
  padding: 30px 0 50px 0;
  color: #ECDED4;
}
.see-more-section{
  text-align: center;
  padding-bottom: 30px;
}
