@import "common/_break-points.scss";

.term-space{
  padding: 10px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 0.8rem;
}

.login-guestlogin-space{
  padding: 30px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-size: 0.8rem;
  @include xs-device-or-less {
    width: 100%;
  }
}