@import "./_break-points.scss";

.top-background{
  background-color: #322419;
  color: white;
}  

.image-container{
  display: flex;
}

.center-column{
  width: 54%;
  @include sm-device-or-less {
    margin-bottom: 20px;
  }
  @include xs-device-or-less {
    margin-bottom: 20px;
    width: 100%;
  }
  border: 1px solid black;
}

.main-image{
  display: flex;
  margin: 0 auto;
  width: 100%;
  position: relative;
  clip-path: inset(50px 0 90px 0);
  top: -50px;
  border: 1px solid black;
  @include sm-device-or-less {
    clip-path: inset(20px 0 40px 0);
    top: -20px;
  }
  @include xs-device-or-less {
    clip-path: none;
    top: 0px;
  }
}

.main-overlay{
  position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px;
}

.left-column{
  width: 23%;
  @include xs-device-or-less {
    display: none;
  }
}

.right-column{
  width: 23%;
  @include xs-device-or-less {
    display: none;
  }
}

.sub-image-contents{
  display: flex;
  flex-direction: column;
  gap: 50px;
  &__image{
    display: flex;
    margin: 0 auto 5px auto;
    width: 85%;

    border: 9px solid;
    border-image: linear-gradient(to right bottom,#a58f86,#281a14) 1 / 9px;
    box-shadow: 3px 3px 5px black;
  }
  &__title{
    text-align: center;
  }
}


.post-container{
  margin-top: 0px;
  padding-top: 0px;

  border-top: 1px white solid;
  background-color: #a58f86;
}
